*.pem
fis-*.json

# Terraformのプラグインやキャッシュ
.terraform/

# Terraform状態ファイル（ローカルのみ）
terraform.tfstate
terraform.tfstate.backup

# crash log
crash.log

# override files（環境ごとに作ることがある）
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI補助ファイル
.terraformrc
terraform.rc

# sensitiveファイル（例: ローカル変数やシークレット）
*.tfvars
*.tfvars.json

# IDE / エディタ系
*.swp
*.vscode/
.idea/

